@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fucshia: hsl(333, 100%, 43%);
    --fucshia2: hsla(333, 100%, 43%, 0.548);
    --white:hsl(0, 0%, 100%);
    --whitetransparent:hsla(0, 0%, 100%, 0.741);
    --gray:hsl(0, 8%, 91%);
    --blue:hsl(227, 65%, 16%);
    --blackTransparent:hsla(0, 0%, 0%, 0.822);
    --darkgray:hsl(0, 1%, 50%);
    --darkgray2:hsl(0, 1%, 22%);
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    font-family: 'Raleway', sans-serif; 
}
nav{
    background-color: var(--blue);
    display: flex;
    height: 3rem;

}
.menu{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 4rem 0 4rem;
}
.img{
    background-image: url(./asset/logo.png);
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.start{
    display: flex;
    color: var(--white);
}
.inicio{
    gap: 6px;
}
.end{
    display: flex;
    align-items: center;
    color: var(--fucshia);
}
.ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.bienvenido{
    background-image: url(./asset/background__welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    background-color: var(--blackTransparent);
    color: var(--white);
    font-weight: 700;
    height: 100vh;
    font-size: 7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h5{
    padding-bottom: 20px;
}
.boton{
    display: flex;
    background-color: var(--fucshia);
    height: 5%;
    width: 15rem;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-weight: 600;
    border: none;
}
.boton:hover{
    background-color: var(--white);
    color: var(--fucshia);
    border: 1px solid var(--fucshia);
}
/* ------------------------------------------------------------------------- */

.c-ontainer{
    display: grid;
    place-content: center;
    grid-template-rows: 30rem 22rem 22rem;
    grid-template-columns: 25rem 25rem 25rem;
    padding-top: 20px;
}
.seccion4{
    text-align: center;
    display: grid;
}
.titulo--{
    border-top: 3px solid var(--fucshia);
    border-bottom: 3px solid var(--fucshia);
    padding: 7px;
    width: 13%;
    margin: 0 auto;
}

.proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 0;
    background-color: var(--fucshia2);
    overflow: hidden;
    visibility: hidden;
    text-align: center;
}
.text_{
    padding: 50px;
    height: 90%;
    width: 90%;
    border: 2px solid ;
    font-size: 25px;
}
.paragraph{
    padding-top: 1rem;
    font-size: 20px;
}
.grid:hover .proyect{
    transition: all 1s ease-in-out;
    height: 100%;
    visibility: visible;
}
.grid-1{
    background-image: url(./asset/portfolio-1.jpg);
    background-size: cover;
    background-position: center;
}
.grid-2{
    background-image: url(./asset/portfolio-2.jpg);
    background-size: cover;
    background-position: center;
}
.grid-3{
    background-image: url(./asset/portfolio-3.jpg);
    background-size: cover;
    background-position: center;
}
.grid-4{
    background-image: url(./asset/portfolio-4.jpg);
    background-size: cover;
    background-position: center;
}
.grid-5{
    background-image: url(./asset/portfolio-5.jpg);
    background-size: cover;
    background-position: center;
}
.grid-6{
    background-image: url(./asset/portfolio-6.jpg);
    background-size: cover;
    background-position: center; 
}
footer{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    font-weight: 700;
}