@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fucshia: hsl(333, 100%, 43%);
    --fucshia2: hsla(333, 100%, 43%, 0.548);
    --white:hsl(0, 0%, 100%);
    --whitetransparent:hsla(0, 0%, 100%, 0.741);
    --gray:hsl(0, 8%, 91%);
    --blue:hsl(227, 65%, 16%);
    --blackTransparent:hsla(0, 0%, 0%, 0.822);
    --darkgray:hsl(0, 1%, 50%);
    --darkgray2:hsl(0, 1%, 22%);
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    font-family: 'Raleway', sans-serif; 
}
nav{
    background-color: var(--blue);
    display: flex;
    height: 3rem;

}
.menu{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 4rem 0 4rem;
}
.img{
    background-image: url(./asset/logo.png);
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.start{
    display: flex;
    color: var(--white);
}
.inicio{
    gap: 6px;
}
.end{
    display: flex;
    align-items: center;
    color: var(--fucshia);
}
.ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.bienvenido{
    background-image: url(./asset/background__welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    background-color: var(--blackTransparent);
    color: var(--white);
    font-weight: 700;
    height: 100vh;
    font-size: 7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h5{
    padding-bottom: 20px;
}
.boton{
    display: flex;
    background-color: var(--fucshia);
    height: 5%;
    width: 15rem;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-weight: 600;
    border: none;
}
.boton:hover{
    background-color: var(--white);
    color: var(--fucshia);
    border: 1px solid var(--fucshia);
}
/* ------------------------------------------------------------------------- */

.c-ontainer{
    display: grid;
    place-content: center;
    grid-template-rows: 25rem 25rem 25rem;
    grid-template-columns: 25rem 25rem 25rem;
    

}
.seccion4{
    text-align: center;
    display: grid;
    background-color: var(--gray);
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}
.titulo--{
    border-top: 3px solid var(--fucshia);
    border-bottom: 3px solid var(--fucshia);
    padding: 7px;
    width: 13%;
    margin: 0 auto;
}
.proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 0;
    background-color: var(--fucshia2);
    overflow: hidden;
    visibility: hidden;
    text-align: center;
}
.text_{
    height: 90%;
    width: 90%;
    border: 2px solid ;
    font-size: 25px;
}
.paragraph{
    padding-top: 1rem;
    font-size: 20px;
}
.grid:hover .proyect{
    transition: all 1s ease-in-out;
    height: 100%;
    visibility: visible;
}
.grid-1{
    background-image: url(./asset/portfolio-1.jpg);
    background-size: cover;
    background-position: center;
}
.grid-2{
    background-image: url(./asset/portfolio-2.jpg);
    background-size: cover;
    background-position: center;
}
.grid-3{
    background-image: url(./asset/portfolio-3.jpg);
    background-size: cover;
    background-position: center;
}
.grid-4{
    background-image: url(./asset/portfolio-4.jpg);
    background-size: cover;
    background-position: center;
}
.grid-5{
    background-image: url(./asset/portfolio-5.jpg);
    background-size: cover;
    background-position: center;
}
.grid-6{
    background-image: url(./asset/portfolio-6.jpg);
    background-size: cover;
    background-position: center; 
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
/*  */

*{
margin:0%; 
padding: 0%;
box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
font: size 20px;
}
body{
font-family: 'Raleway', sans-serif;
}
:root{
--fucshia: hsl(333, 100%, 43%);
--fucshia2: hsla(333, 100%, 43%, 0.548);
--white:hsl(0, 0%, 100%);
--whitetransparent:hsla(0, 0%, 100%, 0.741);
--gray:hsl(0, 8%, 91%);
--blue:hsl(227, 65%, 16%);
--blackTransparent:hsla(0, 0%, 0%, 0.822);
--darkgray:hsl(0, 1%, 50%);
--darkgray2:hsl(0, 1%, 22%);
}
/* .menu{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--blue);
} */

/* seccion2 -------------------------------------------------------seccion2 */
.seccion2_info{
width:100%;
height: 100vh;
background-color:var(--gray);
display: flex;

}
.container_seccion2_col_1{
width:100%;
height:100%;
padding:2% 1% 0;
gap: 4%;
display: flex;
flex-direction: column;
font-style: italic;

}
.container_seccion2{
width:100%;
height: 100%;
padding:2% 1% 0;
display: flex;
flex-direction: column;

}

.container_seccion2 img{
    height: 60%;
}
/* -------------col-1----------------- */
.container_title_seccion2_col_1{
gap: 10%;
display: flex;
flex-direction: column;
justify-content: end;
width: 100%;
/* height: 10%; */
}
.title_seccion2 
{
padding:1%;
display: flex;
justify-content: end;
}

.container_parrafos_seccion2_col_1{
display: flex;
flex-direction: column;
width: 100%;

}
.text_seccion2{
display:flex ;
justify-content: end;
width: auto;
height: auto;
text-align: end;
}
.container_button_seccion2{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.button_seccion2{
width: 50%;
background-color: var(--fucshia);
padding:1%;
height: 60px;
border-radius:60px;
border: none;
color:var(--white);
font-size:20px;
transition: all 0.8s;
}

.button_seccion2:hover{
    transition: all 0.8s;
    color: var(--fucshia);
    background-color: var(--white);
    border: solid 2px var(--fucshia);
}

/* -------------col-2----------------- */
.img_seccion2{
background-position: center;
width: 100%;
height: 100%;}

/*---------------col-3------------------------*/
.text_seccion2_bar{
    display: flex;
    width: 80%;
    height: 70%;

}
.container_total_bar{
    display: flex;

}
.num_seccion2_bar{
    width: 10%;
    height: 70%;
}
.container_seccion2_texto{
    width: 90%;
    display: flex;

}

.title_seccion2_bar{
    display: flex;
    height: 8%;

}.container_bar{
    padding-bottom: 2%;
    margin-bottom:3%;
    height: 60px;


}
.container_bar_seccion2{
    background-color:var(--darkgray2);
    width: 500px;
    height: 30px;

}

.container_bar_color_one_seccion2{
    background-color:var(--darkgray);
    width: 460px;
    height: 30px;

}
.container_bar_color_two_seccion2{
    background-color:var(--darkgray);
    width: 440px;
    height: 30px;

}
.container_bar_color_three_seccion2{
    background-color:var(--darkgray);
    width: 440px;
    height: 30px;

}
.container_bar_color_four_seccion2{
    background-color:var(--darkgray);
    width: 440px;
    height: 30px;

}
.container_bar_color_five_seccion2{
    background-color:var(--darkgray);
    width: 440px;
    height: 30px;

}


/* seccion6 -------------------------------------------------------seccion6 */



.seccion6_contacto{
width:100%;
height:100vh;
display:flex;
justify-content:center;
flex-direction: column;
/* -------------row1------------------ */
}
.container_seccion6_row_1{
width:100%;
height:6%;   
padding-top:15px;
gap: 2%;
display: flex;
justify-content: center;

}

.hr_seccion6{  
width:200px ;
height: 5px;
background-color: var(--fucshia);
}

.spadinghr{
display: flex;
justify-content: center;
}
/* -------------row2------------------ */
.container_seccion6_row_2{
width:100%;
height:30%;   
padding-top:30px;
padding: 2% ;
padding-bottom: 30px;
gap: 2%;
display: flex;
}

.block_seccion6{
    background-color:var(--white);
    display: flex;
    flex-direction: column;
    align-items:center;
    width:25%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(206, 205, 205)

}

.img_seccion6{
width: 20%;
height: 20%;
margin-top:16%;
}

.container_seccion6_form{
width:100%;
height:40%;
display:flex;
justify-content: center;

}
/* -------------row3------------------ */
.container_seccion6_row_3{
    
    background-color:var(--white);
    width:50%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(206, 205, 205);

}

.container_input_seccion6{
display: flex;
gap: 10px;
padding: 5px;
}

.input_seccion6{
    width:50%;
    height:35px;
    border-top:none;
    border-left: none;
    border-right: none;
    font-size: 20px;  

}

.container_textaria_seccion6{
    width:100%;
    height:100%; 
    padding: 8px;

}
.textarea_seccion6{
    width:100%;
    gap: 5px;
    font-size: 20px;  


}
.container_button_seccion6{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.button_seccion6{
width: 35%;
background-color: var(--fucshia);
padding:1%;
height: 60px;
border-radius:60px;
border: none;
color:var(--white);
font-size:20px;
transition: all 0.8s;
}

.button_seccion6:hover{
    transition: all 0.8s;
    color: var(--fucshia);
    background-color: var(--white);
    border: solid 2px var(--fucshia);
}



footer{
background-color: var(--blue);
color: var(--white);
text-align: center;
font-weight: 700;
}